<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
  <div>결제 페이지</div>
  <div class="m" style="color: #4ef655; width: 200px; height: 48px;
  margin: 300px 5px 10px 370px; font-family: Inter;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;">멤버쉽</div>
  <div class="n" style="width: 350px;
  height: 10px;
  margin: 5px 40px 1px 370px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;">자소서 무제한 생성, 템플릿 제공, 파일 저장 및 공유</div>
  <div class="Rectangle-18" style="width: 700px;
  height: 123px;
  margin: 20px 2px 13px 370px;
  padding: 32px 32px 26px 60px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0.1);"><p style="width: 70px;
  height: 24px;
  margin: 35px 85px 23px 0;
  font-family: Inter;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;">6개월</p><div style="width: 98px;
  height: 24px;
  margin: -44px 0px 0px 150px;
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;"><del>월 4,900원</del></div></div>

</th:block>
</html>